<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELibrary"
        tools:targetApi="31">
        <activity
            android:name=".Disclaimer"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false"
            android:label="@string/privacy_poicy"
            />
        <activity
            android:name=".AccountDashboard"
            android:exported="false"
            android:label="@string/admin_dashboard_menu_item"/>
        <activity
            android:name=".AllCategory"
            android:exported="false"
            android:label="@string/all_categories"/>
        <activity
            android:name=".LatestArrival"
            android:exported="false"
            android:label="@string/latest_arrival"/>
        <activity
            android:name=".NoInternent"
            android:exported="false"
            android:noHistory="true"
            android:label="@string/no_internet"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/home_menu_item">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
